/* Dando estilo general*/
*{
font-family: Helvetica, sans-serif;
margin: 0;
box-sizing: border-box;
color: #fff;
}
body{
    background: #1485c8;
    color: #fff;
}
/*Estilo al header*/
header{
    background: #026aa7;
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 5px 8px;
    position: absolute;
    vertical-align: center;
    color: #fff;
}
.tablero{
    background: #569bc4;
    position: absolute;
    left:0px;
    font-size: 20px;
    padding:4px;
    margin-left: 8px;    
    text-decoration:none;
    border-radius: 3px;
}
.header-icon{   
    width: 73px;
    height: 30px;
}
h1{
    font-family: 'Lobster', cursive;
    display: inline-block;
    color: #569bc4;
}
#text-left{
    display: inline-block;
    padding-left: 5px;
    margin-right: 8px;
}
.input-search{
    background: #569bc4;
    display: inline-block;
    position: absolute;
    left:125px;
    height:30px;
    padding: 4px;
    border-radius: 3px;
}
input{
    border: none;
    background: #569bc4;
}
 header .fa {
     width: 16px;
     height: 16px;
}
.center {
    position: absolute;
    bottom:3px;
    font-weight: 400;
    font-size: 20px;
}
.center i {
    color: #569bc4;
    font-size: 20px;
    font-weight: 400;
    margin-right: 3px;
}
.info{
    position: absolute;
    right:0px ;
    margin-right: 8px;
    font-weight: 400;
}
.info a {
    display: inline-block;
    width: 30px;
    height: 32px;
    padding-top: 8px;
    background: #569bc4;
    border-radius: 3px;
    line-height: 50px;
}
.info i{
    position: relative;
    bottom: 16px;
    font-size:18px;
}
img{
    height: 30px;
    width: 30px;
    border-radius:50%;
    position: relative;
    bottom: 8px;
}
/*Estilo a la segunda fila*/
.section2{
    padding: 60px 20px 20px;
    display: inline-block;
    width: 100%;
}
.section2 h2,h3{
    display: inline-block;
    margin: 0 5px;
}
.fa-star-o{
    margin: 0 5px;
}
.fa-lock{
    margin: 0 5px;
}
.section2 a {
    position: absolute;
    right: 0;
    display: inline-block;
    margin-right:20px; 
}
.section2 p{
    position: absolute;
    right: 130px;
    top: 55px;
    display: inline-block;
}
/*Estilo a boton de añadir lista*/
.btn{
    cursor: pointer;
    display: block;
    border-radius: 5px;
    padding: 7px;
    color:rgba(255,255,255,.7);
    background: #026aa7;
    width: 250px;
    text-align: left;
    border: none;
    margin-left: 20px;
    font-size:14px;
}
.btn:hover{
    background: #055481;
}
/*Estilo al formulario para añadir lista*/
.save {
    background: #5AAC44;
    color: #fff;
    border:none;
    padding: 4px  16px ;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 4px;
}
.save:hover{
    background: #519839
}
.close{
    font-size: 22px;
    font-weight: 300;
    color:#999;
    line-height: 20px;
}
.close:hover{
    color: #4d4d4d
}
.container-summit{
    background: #E2E4E6;
    width: 270px;
    padding: 4px;
    border-radius: 3px;
    margin: 0 10px;
    display:none;
    
}
.input-list{
   width:262px;
   padding: 7px;
   border: 1px solid #aaa;
   background: rgba(0, 0, 0, .05);
   text-align: left ;
   border-radius: 3px;
   color: black;
}
form{
    width: 262px;
}
.container-button{
    width: 262px;
    margin-top: 4px;
}
/*Estilo para mostrar y esconder*/
.show {
    display: inline-block;
}
.hide{
    display:none;
}
/*Estilo que guarda el titulo de la lista */
.headerList{
    width: 270px;
    height:auto;
    background:#E2E4E6; 
    color: black;
    display:block;
    border-radius: 5px  5px 0px 0px;
    margin-left: 20px;
    font-size:14px;
    line-height: 20px;
    padding: 7px;
    font-weight: 700; 
    word-wrap: break-word;  
}
/*Estilo para añadir una tarjeta*/
.addcard{
    width: 270px;
    height: 34px;
    background:#E2E4E6; 
    color: #4d4d4d;
    display: block;
    border-radius: 0  0 5px 5px;
    margin-left: 20px;
    font-size:14px;
    line-height: 20px;
    padding: 7px;
    text-decoration:none;
}
.addcard:hover{
    color: black;
    background:#CDD2D4;
    text-decoration:underline;
}
.left{
    display: inline-block;
    position: absolute;
    left: 300px;
}
/*Estilo que contiene al textarea */
.newdiv{
    margin-top: 4px;
    background:#E2E4E6;
    width: 270px;
    padding: 7px;
    margin-left: 20px;
    border-radius:5px;
}
.textarea{
    overflow: hidden;
    width: 240px;
    height: 54px;
    color: black;
    display: block;
    margin-bottom: 4px;
    border-radius: 3px;
}
.textarea:focus{
    color:black;
}
/*Estilo que contiene al contenido de la nueva tarjeta*/
.card {
    width: 270px;
    height: auto;
    background:#E2E4E6; 
    color: black;
    display: block;
    border-radius: 5px;
    margin-left: 20px;
    font-size:14px;
    line-height: 20px;
    padding: 7px;
    margin-top:4px;
    word-wrap: break-word;
}